<div class="menu">
  <button mat-button class="menu-link" routerLink="feed"><mat-icon>format_align_left</mat-icon></button>
  <button mat-button class="menu-link" routerLink="user-profile"><mat-icon>account_circle</mat-icon></button>
  <button mat-button class="menu-link" routerLink="home-page"><mat-icon>home</mat-icon></button>
  <button mat-button class="menu-link" routerLink="messages"><mat-icon>forum</mat-icon></button>
  <button mat-button class="menu-link" routerLink="settings"><mat-icon>settings</mat-icon></button>
  <button mat-button class="menu-link" routerLink="help-page"><mat-icon>help_o</mat-icon></button>
  <button mat-button class="menu-link" routerLink="log-on"><mat-icon>help_o</mat-icon></button>

</div>
