  <div class="large-card">
    <div class="msg-align" *ngFor="let message of messages">
      <button mat-button>
  <div class="messages-header">
      <span class="user-name"><b>{{ message.sender }}</b></span>
      <i class="user-handle">{{ message.senderHandle }}</i>
    <span class="time-stamp">
      {{ message.timestamp }}
    </span>
  </div>
  <br>
      <div>
        <span class="last-message">
          {{ message.text }}
        </span>
      </div>
      </button>
    </div>
   </div>
