@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
  background-color: #0c0616;
}
.menu {
  width: 98%;
  height: 8%;
  text-align: center;
  bottom: 2%;
  left: 1%;
  border-radius: 6px;
  display: inline;
  position: fixed;
  background-color: #f2e5f2;
  color: #0c0616;
}

.post-header {
  font-weight: bolder;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

.post-content {
  max-width: 95%;
  padding: 6px 6px 6px 12px;
  word-wrap: break-word;
  margin-left: 2%;
}

.header {
  display: inline;
  & .user-name {
    font-weight: bolder;
    font-size: 20px;
    padding-left: 10px;
  }
  & .header-title {
    font-weight: bolder;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  & .header-icon {
    float: right;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  & .user-handle {
    font-weight: lighter;
    padding-left: 10px;
  }
}

.action-button {
  margin-left: 5px;
  color: #8d259b;
}

.large-card {
  width: 91%;
  height: 4%;
  margin-left: 4%;
  margin-top: 2%;
  border-radius: 6px;
  padding: 5px;
  background-color: #f2e5f2;
  color: #0c0616;
  box-shadow: 8px 8px #8d259b;
  display: inline-block;
}

.small-card {
  width: 43%;
  height: 4%;
  margin-left: 4%;
  margin-top: 2%;
  border-radius: 6px;
  padding: 5px;
  background-color: #f2e5f2;
  color: #0c0616;
  box-shadow: 8px 8px #8d259b;
  display: inline-block;
}
