@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.sidebar {
  width: 3%;
  height: 500px;
  top: 0;
  left: 0;
display: inline-block;
  position: fixed;
}

.large-card {
  width: 80%;
  left: 10%;
  margin-top: 3%;
  display: inline-block;
}
