.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.user-edit{
  float: right;
  margin-bottom: 5px;
}

.user-desc{
  padding-left: 10px;
  padding-bottom: 5px;
}

mat-chip {
  background-color: blue;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}
