<div class="large-card">
  <div class="header">
    <div class="example-header-image"></div>
    <span class="user-name"><b>User Name</b></span>
    <i class="user-handle">@userhandle</i>
  </div>
  <br>
  <div>
    <br>
    <div class="user-edit">
      <mat-chip-list>
        <mat-chip>Edit Profile</mat-chip>
      </mat-chip-list>
    </div>
    <br>
    <div class="user-desc">user description here</div>
  </div>
</div>

<div class="small-card">
    <div class="header">
      <div class="header-icon">
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
      <div class="header-title">
        Planets:
      </div>
      <div class="planet-list" *ngFor="let planetBlog of planet">
        {{ planetBlog.planetName }}
      </div>
    </div>
</div>

<div class="small-card">
  <div class="header">
    <div class="header-icon">
      <button mat-icon-button><mat-icon>add</mat-icon></button>
    </div>
    <div class="header-title">
      Comets:
    </div>
  </div>
  <div class="comet-list" *ngFor="let cometPost of comet">
    <button mat-button>
      <div class="comet-title">
        {{ cometPost.cometTitle}}
      </div>
      <div class="comet-time">
        {{ cometPost.cometTimeStamp}}
      </div>
      <div class="comet-text">
        {{ cometPost.cometText}}
      </div>
    </button>
  </div>
</div>
