.settings-title{
  font-weight: bolder;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}
.settings-toggle{
  float: right;
}

.settings-content-group{
  max-width: 95%;
  padding: 6px;
  margin-bottom: 10px;
  border-bottom: #0c0616 solid 1px;
  margin-left: 2%;
}

.settings-content{
  max-width: 95%;
  padding: 6px;
  margin-bottom: 10px;
  border-bottom: #0c0616 dotted .5px;
  margin-left: 2%;
}
